simile-fresnel/ontologies/fresnel-datatypes.xsd

<!DOCTYPE xs:schema PUBLIC "-//W3C//DTD XMLSCHEMA 200102//EN" "http://www.w3.org/2001/XMLSchema.dtd">
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xml:lang="en"
           targetNamespace="http://www.w3.org/2004/09/fresnel">
 <xs:simpleType name='fslSelector'>
  <xs:restriction base='string'/>
 </xs:simpleType>
 <xs:simpleType name='sparqlSelector'>
  <xs:restriction base='string'/>
 </xs:simpleType>
 <xs:simpleType name='styleClass'>
  <xs:restriction base='normalizedString'>
   <xs:whiteSpace value='collapse'/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name='stylingInstructions'>
  <xs:restriction base='string'/>
 </xs:simpleType>
</xs:schema>
